body {
  text-align: center;
  color: #757575;
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

p {
  line-height: 2;
  letter-spacing: 2px;
}

nav {
  height: 50px;
  background: white;

  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
  padding-right: 16px;
}

nav img {
  margin-bottom: 0;
  max-width: 28px;
}


a {
  color: black;
}

a:hover {
  color: inherit;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

.banner-logo {
  width: 375px;
  margin: 20% auto 120px auto;
}

.banner-logo img {
  width: 330px;
}

.sub-logo {
  margin: 0 auto 120px auto;
  max-width: 600px;
  display: flex;
  justify-content: space-around;
  font-family: "American Typewriter", Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  font-size: 15px;
  color: black;
}

.sub-logo p {
  color: #484848;
}

.main-container {
  margin: 0 auto 120px auto;
  width: 600px;
}

.services {
  margin-top: 120px;
  font-size: 15px;
}

/* Image grid styling*/
.image-grid {
  margin: 0 auto 100px auto;
}

.columns {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-column-width: 33.33333333333333%;
  -moz-column-width: 33.33333333333333%;
  column-width: 33.33333333333333%;
}

img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

@media (max-width: 1100px) {
  .columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-width: 50%;
    -moz-column-width: 50%;
    column-width: 50%;
  }
}

@media (max-width: 600px) {
  .columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

/* footer styling */
.contact {
  margin-bottom: 40px;
  font-size: 14px;
}

.contact span {
  margin: 0 15px;
}

.home-button {
  float: right;
  margin-right: 5px;
  max-width: 20px;
}

.copyright {
  font-size: 10px;
  margin-left: 16px;
  letter-spacing: 0;
}

/* responsiveness styling */
@media (max-width: 800px) {
  body {
    margin: 0 2%;
    font-size: 13px;
  }

  .banner-logo {
    width: 100%;
  }

  .banner-logo img {
    max-width: 100%;
  }

  .container {
    width: 100%;
  }

  .main-container {
    width: 100%;
  }

  .services {
    width: 100%;
    font-size: 13px;
  }

  .contact {
    font-size: 12px;
  }
}
